

$brown: #786450;

.frame{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  background: $brown;
  margin-top: -200px;
  margin-left: -200px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  border-radius: 2px;
  /*background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);*/
}


.center {
  position: absolute;
  top: 50px;
  left: 40px;
  height: 299px;
  width: 320px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  border: 1px solid black;
}


.profile{

  height: 100%;
  width: 200px;
  background: #DDDADA;

  .image {
    width: 100%;
    height: 100px;
    background: #3FAF82;

    img{
      //position: relative;
      width: 70px;
      height: 70px;
      margin: 38px auto 0 auto;
    }

  }




}

.stat {
  height: 100%;
  background: #F2F2F2;
}

